// FOOTER
.footer {
    flex: 0 0 auto;
    background: #3b5157;
    &-copyrights {
        color: #78a8b8;
        font-size: 18px;
    }
    &-soc {
        height: 30px;
        width: 30px;
        background: $accent;
        color: #fff;
    }
    .facebook {
        background: #6284ca;
    }
    .vk {
        background: #54769a;
    }
    &-text {
        color: #78a8b8;
        font-size: 26px;
    }
}

