// HEADER
.header {
	flex: 0 0 auto;
	height: 50px;
	&-logo {
		color: #36aeea;
		font-size: 30px;
		font-family: $bringin;
	}
	&-item {
		font-size: 14px;
		color: #9daeb6;
		text-transform: uppercase;
		border-bottom: 2px solid transparent;
  		padding-bottom: 10px;
		&:hover {
			border-bottom: 2px solid currentColor;
		}
	}
	.color {
		color: #95a5ad;
	}
	&-call {
		border: 3px solid $accent;
		border-radius: 3px;
	}
}
