// MAIN
.home {
	flex: 1 0 auto;
	overflow: hidden;
	position: relative;
	height: 100vh;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: #000;
		opacity: 0.1;
	}
	&-content {
		position: relative;
		border: 5px solid $accent;
		height: 350px;
	}
	&-title {
		font-size: 50px;
		color: #ffffff;
		text-transform: uppercase;
	}
	.title {
		font-family: $bringin;
		color: $accent;
		text-transform: none;
	}
	&-text {
		font-size: 18px;
		color: #d7dcdd;
	}
	&-btn {
		background: $accent;
		text-transform: uppercase;
		color: #ffffff;
		height: 60px;
		width: 250px;
		border-radius: 3px;
		border: 1px solid transparent;
		&:hover {
			background: #fff;
			color: $accent;
			border: 1px solid currentColor;
		}
	}
	&-img {
		height: 400px;
		transform: translate(0px, 50px);
	}
}
// ABOUT US
.about {
	height: 700px;
	&-img {
		height: 560px;
		width: 810px;
		transform: translate(0px, 40px);
		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}
	&-img-bottom {
		height: 350px;
		width: 350px;
		transform: translate(0px, -260px);
		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}
	&-title {
		font-size: 20px;
		color: #2c2e37;
		text-transform: uppercase;
	}
	&-text {
		font-size: 16px;
		color: #949494;
	}
	&-btn {
		font-size: 12px;
		color: #ffffff;
		text-transform: uppercase;
		background: $accent;
		border-radius: 3px;
		width: 130px;
		height: 40px;
		border: 1px solid transparent;
		&:hover {
			background: #fff;
			color: $accent;
			border: 1px solid currentColor;
		}
	}
}
// journal
.journal {
	height: auto;
	&-title {
		font-size: 30px;
		color: #2c2e37;
		text-transform: uppercase;
		text-align: center;
	}
	&-content {
		// box-shadow: 0 0 8px 0 rgb(0 0 0 / 30%);
		box-shadow: 2px 2px 13px 0px rgba(34, 60, 80, 0.29);
	}
	&-block {
		height: 380px;
		width: calc(380px - 10px);
		&-title {
			color: #16b5ef;
			font-size: 12px;
			text-transform: uppercase;
		}
		&-item {
			font-size: 16px;
			color: #212121;
			text-transform: uppercase;
		}
		&-text {
			font-size: 14px;
			color: #777777;
		}
		&-number {
			font-size: 14px;
			color: #212121;
		}
	}
	&-love {
		text-align: center;
		padding: 20px;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: 50px;
			left: -40px;
			border: 20px solid transparent;
			border-right: 20px solid #fff;
		}
	}
	&-tree {
		text-align: center;
		padding: 20px;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: 50px;
			right: -40px;
			border: 20px solid transparent;
			border-left: 20px solid #fff;
		}
	}
	&-water {
		text-align: center;
		padding: 20px;
		position: relative;
		&:before {
			content: "";
			position: absolute;
		    top: -40px;
  			left: 40px;
			border: 20px solid transparent;
			border-bottom: 20px solid #fff;
		}
	}
	&-like {
		color: #fff;
		border-radius: 50%;
		border: 3px solid #fff;
		height: 100px;
		width: 100px;
	}
	&-heart {
		font-size: 50px;
	}
}
// inquiry
.inquiry {
	height: 650px;
	&-title {
		font-size: 20px;
		text-transform: uppercase;
		color: #2c2e37;
	}
	&-text {
		font-size: 16px;
		color: #949494;
		max-width: 650px;
	}
	&-input {
		height: 60px;
		width: 300px;
		border: none;
		border-radius: 3px 0px 3px 3px;
		border-right: 1px solid $border;
		&-phone {
			border-radius: 0px;
			// width: 320px;
		}
	}
	&-btn {
		width: 225px;
		background: $accent;
		height: 60px;
		border-radius: 0px 3px 3px 0px;
		text-transform: uppercase;
	}
	&-lock {
		color: $accent;
		font-size: 18px;
	}
	&-word {
		color: $accent;
		font-size: 14px;
	}
}
// WORK
.work {
	&-title {
		font-size: 30px;
		color: #2c2e37;
		text-transform: uppercase;
		text-align: center;
	}
	&-block {
		border-radius: 50%;
		height: 50px;
		width: 50px;
		color: $accent;
		border: 3px solid $accent;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 47px;
			left: 20px;
			border: 2px dashed #f0f3f6;
			width: 2px;
			height: 50px;
		}
		&:before {
			content: '';
			position: absolute;
			top: 20px;
			left: 47px;
			border: 2px dashed #f0f3f6;
			width: 234px;
		}
	}
	&-four {
		border-radius: 50%;
		height: 50px;
		width: 50px;
		color: $accent;
		border: 3px solid $accent;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 47px;
			left: 20px;
			border: 2px dashed #f0f3f6;
			width: 2px;
			height: 50px;
		}
	}
	&-file {
		height: 180px;
		width: 180px;
		background: #f0f3f6;
		border-radius: 50%;
		&-content {
			font-size: 40px;
			color: #404041;
			height: 60px;
			width: 100px;
			background: #fff;
			position: relative;
			box-shadow: 2px 2px 13px 0px rgba(34, 60, 80, 0.26);
			&:before,
			&:after {
				content: "";
				width: 0;
				height: 0;
				position: absolute;
				left: 0;
				border-left: 50px solid transparent;
				border-right: 50px solid transparent;
			}
			&:before {
				top: -25px;
				border-bottom: 25px solid #fff;
			}
			&:after {
				bottom: -25px;
				border-top: 25px solid #fff;
			}
		}
	}
	&-item {
		font-size: 18px;
		color: #2c2e37;
	}
	&-text {
		font-size: 16px;
		color: #949494;
		text-align: center;
	}
}
.star {
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}
.active {
	color: gold;
}
// TRAVEL
.travel {
	height: 100vh;
	&-title {
		font-size: 30px;
		color: #2c2e37;
		text-transform: uppercase;
		text-align: center;
	}
	&-content {
		height: 380px;
		width: 200px;
	}
	&-block {
		width: 20%;
	}
	&-item {
		font-size: 28px;
		color: #ffffff;
	}
	&-text {
		color: #ffffff;
		font-size: 16px;
	}
	&-old {
		font-size: 18px;
		color: #ffffff;
	}
	&-price {
		font-size: 26px;
		color: #ffffff;
	}
}
// Gallery
.gallery {
	&-title {
		font-size: 30px;
		color: #2c2e37;
		text-align: center;
		text-transform: uppercase;
	}
	&-img {
		height: 340px;
		width: 260px;
		img {
			overflow: hidden;
			height: 340px;
			width: 260px;
		}
		&-center {
			height: 240px;
			width: 360px;
			img {
				overflow: hidden;
				height: 240px;
				width: 360px;
			}
		}
		&-left {
			height: 345px;
			width: 455px;
			img {
				overflow: hidden;
				height: 345px;
				width: 455px;
			}
		}
		&-bottom {
			height: 280px;
			width: 260px;
			img {
				overflow: hidden;
				height: 280px;
				width: 260px;
			}
			&-center {
				transform: translate(0px, -100px);
				height: 380px;
				width: 360px;
				img {
					overflow: hidden;
					height: 380px;
					width: 360px;
				}
			}
			&-right {
				height: 280px;
				width: 455px;
				img {
					overflow: hidden;
					height: 280px;
					width: 455px;
				}
			}
		}
	}
}
// BREANDS
.breand {
	background: #f8f9fa;
	height: 180px;
	&-img {
		filter: grayscale(1);
		opacity: 0.3;
		height: 50px;
		width: 100%;
		// img {
		// 	height: 100%;
		// 	width: 100%;
		// 	overflow: hidden;
		// }
	}
}
// Clients
.client {
	height: 1280px;
	&-title {
		font-size: 30px;
		color: #2c2e37;
		text-transform: uppercase;
		text-align: center;
	}
	&-quote {
		font-size: 24px;
		color: #bcbcbc;
	}
	&-text {
		font-size: 18px;
		color: #bcbcbc;
	}
	&-img {
		height: 65px;
		width: 65px;
		border-radius: 50%;
		overflow: hidden;
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	&-name,
	&-position {
		font-size: 16px;
		color: $accent;
	}
	&-form {
		transform: translate(0px, 250px);
		// height: 500px;
		height: 100%;
		width: 510px;
		border-radius: 3px;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: #00bcd4;
			filter: blur(3px);
			opacity: 0.6;
		}
		&-content {
			position: relative;
		}
		&-title {
			font-size: 36px;
			color: #383e4a;
			text-transform: uppercase;
		}
		&-text {
			font-size: 16px;
			color: #383e4a;
		}
	}
	&-input {
		width: 100%;
		height: 60px;
		border: none;
		border-radius: 3px;
	}
	&-btn {
		width: 100%;
		height: 70px;
	}
}